# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/libraries/*.xml
**/.idea/*.xml
target/**
.idea
.oncembobulator.iml
/data/
/vcf2omop.tsv
/vcf2omop.iml
/synonyms-vcf2omop-GRCh38.tsv
/synonyms-vcf2omop-hg19.tsv
/vcf2omop-sample-hg19.vcf
